body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(0, 19, 53);
}

.p1{
    font-size: 30px;
    color: white;
}

span{
    color: rgb(0, 179, 0);
    text-decoration: underline;
}

input{
    text-align: center;
    height: 25px;
    width: 200px;
}

button{
    margin-top: 20px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
}

.btn1{
    width: 130px;
    height: 25px;
}

.btn2{
    margin-left: 10px;
    width: 65px;
    height: 25px;
}